.jumbotron {
    background: rgba(255, 255, 0, 0.7);
    border-bottom: 8px solid #ee6794;
    font-family: 'Laila', serif;
}
.btn {
    background: rgba(255, 255, 0, 0.7);
}
.btn:hover {
    background: #ee6794;
    color: white;
}